PORT=3500
NODE_ENV=development

# MongoDB 
DATABASE_URL="mongodb://localhost:27017/ecommerce-dev"

AUTH_BCRYPT_ROUNDS="10"
AUTH_VERIFY_TOKEN_EXPIRES="4h"

AUTH_ACCESS_TOKEN_EXPIRES="15m"
AUTH_REFRESH_TOKEN_EXPIRES="7d"

AUTH_VERIFY_JWT="change-me"
AUTH_ACCESS_JWT="change-me"

FRONTEND_URL="http://localhost:3500"
CORS_ORIGIN="http://localhost:5173"

APP_NAME="E-Commerce DevChill"

SMTP_HOST=""
SMTP_PORT=""
SMTP_SECURE=""
SMTP_USER=""
SMTP_PASS=""
MAIL_FROM=""